aiohttp==2.2.5
async-timeout==1.4.0
certifi==2017.7.27.1
chardet==3.0.4
get==0.0.0
idna==2.6
multidict==3.2.0
post==0.0.0
public==0.0.0
query-string==0.0.0
request==0.0.0
requests==2.18.4
setupfiles==0.0.50
telepot==12.3
urllib3==1.24.2
yarl==0.13.0
